<header class="navbar">
  <nav class="navbar-inner">
    <section class="container">
        <a href="#" class="brand">Astromech</a>    
        <ul id="navMain" class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li class=""><a href="#">About</a></li>
          <li class=""><a href="#">Help</a></li>
          <li class=""><a href="#">Contact</a></li>      
        </ul>
        <ul class="nav pull-right">     
            <li><a href="#">Sing In</a></li>     
            <li><a href="#" >View On <strong>Github</strong></a></li>
        </ul>
    </section>
  </nav>
</header>