# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

/Presentation.Web/Content/.sass-cache
/Presentation.Web/Content/bootstrap

/Presentation.Web/Content/_bootstrap.scss
/Presentation.Web/Content/_bootstrap-responsive.scss