@Html.AppTitle("Index")

<section class="well">
  <h1>Astromech</h1>
  <p>
  Lorem ipsum dolor sit amet, ad sit veri latine scribentur, at tempor aliquid principes per, laudem pertinax mei ad. Tempor salutandi nec eu, eu ipsum nonumy fabulas pri. Per possit verterem menandri ut. Qui in adhuc deleniti, eam mazim abhorreant te. Reque postulant molestiae vis no, mel iriure animal ut.

No eum debet vidisse expetendis, eu duo autem reformidans, ius in homero volutpat. Ne nec iriure nostrum quaerendum, ex labores erroribus vix. Vim eu congue verear. Tollit accusamus vel id, at inermis delicata pri, mel ex nihil nobis gloriatur. Mea error congue timeam ne.
  </p>
  <p>
  <a href="#" class="btn btn-primary btn-large">About</a>  
    <span>Learn more &raquo;</span>  
  </p>
</section>
<section class="row">
  <section class="span6">
    <div class="row">
      <div class="span6">
        <div class="dashboard">
          <div class="dashboard-header">
            <div class="dashboard-inner">
              <h3>Sign Up</h3>
            </div>
          </div>
          <div class="dashboard-body">            
            <p>&nbsp;</p>
            <a href="#" class="btn btn-primary btn-large">Sign Up</a>            
                <span>Sign up now &raquo;</span>            
          </div>
          <div class="dashboard-footer">&nbsp;</div>
        </div>
      </div>
    </div>
  </section>
  <section class="span6">
    <div class="row">
        <div class="span6">
          <div class="dashboard">
            <div class="dashboard-header">
              <div class="dashboard-inner">
                <h3>Sign in</h3>
              </div>
            </div>
            <div class="dashboard-body">
             form
             <h4>Gravatar</h4>
             <img src='@Html.GravatarUrl("demo@dev.com")' alt="" />
              <p>New user? </p>
            </div>
            <div class="dashboard-footer">&nbsp;</div>
          </div>
        </div>
    </div>
  </section>
</section>


