@import "bootstrap";

@mixin myRGBAMix($color, $alpha){
  color: rgba($color, $alpha);
}

@function myRGBA($color, $alpha){
  @return rgba($color, $alpha);
}

/* Variables for astromech */
$grayMediumLight: #ddd;
$withAnd50trans: myRGBA($white, 0.5);
$bgColor:darken($linkColor, 34%);
$bgImage: url('../Content/images/bg.jpg');
$radius: 4px;
$maxHeight:400px;
$minHeight:400px;
$bSize:1px;

body {
  padding-top: 4px;
  background-color:$bgColor;
  background-image:$bgImage;
}

.bgwell {
  background-color: $withAnd50trans;
}
/* footer */
footer {
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      display: inline;
      margin-left: 8px;
    }
  }
}

/* dashboard */
.dashboard {
  @include border-radius($radius);
  background-color: $white;
  @include background-clip(padding-box);
  margin-bottom: $radius;

  .dashboard-header {
    padding: 9px 15px;
    border-bottom: $bSize solid #eee;
    .dashboard-inner {
    }
  }
  .dashboard-body {
    padding: 15px;
    max-height:$maxHeight;
    min-height:$minHeight;
    img{
      @include border-radius($radius);
      @include box-shadow($tableBorder);
    }
    h4{
      padding-top: 4px;
    }
  }
  .dashboard-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    border-top: $bSize solid $tableBorder;
    background-color: $formActionsBackground;
    text-align: right;
    @include border-radius(0 0 $radius $radius);
    @include box-shadow(inset 0 $bSize 0 $white);
    @include clearfix();
  }
}